#siteBody {
    background-color:#efeee7;
    padding:10px 5px 10px 5px;
    margin: 0;
}

h1,h3 {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    padding: 10px;
    align-items: flex-end;
}

.nav-brand {
    font-size: 65px;
    
}

#linkIn {
    width: 20px;
    height: 20px;
}

#gitHub, #mail {
    width: 25px;
    height: 25px;
}



#portrait {
    width: 250px;
    height: 200px;
    padding: 5px 5px 5px 5px;
}
#bio {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.carouselExampleIndicators{
    width: 50%;
    align-items: center;
}